#datetime-picker {
  display: inline-flex;
  align-items: center;

  width: 272px;
  height: 40px;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.5;

  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

  margin-top: 36px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  background: #fafafa;
  color: #989898;
  border-color: #808080;
}

button[data-start] {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 40px;

  margin-left: 8px;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  line-height: 1.5;

  background: #4e75ff;
  color: #ffffff;
  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[data-start]:hover {
  background: #6c8cff;
}

button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  justify-content: space-between;

  width: 272px;
  margin-top: 32px;

  text-align: left;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  margin-top: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;

  text-transform: uppercase;
  letter-spacing: 0.04em;
}

#datetime-picker,
button[data-start],
.timer {
  text-align: left;
  line-height: 150%;
  letter-spacing: 0.04em;
}

/* #datetime-picker,
.timer {
 display: block;
  margin-left: 140px;
} */

button[data-start] {
  display: inline-flex;
}

#datetime-picker {
  display: inline-flex;
}
